<div class="{{classPrefix}}-buttons">
  {{#each buttons}}<button class="{{../classPrefix}}-button{{#if role}} button-{{role}}{{/if}}" type="{{type}}" data-role="{{role}}"><span>{{__ label}}</span></button>{{/each}}
</div>
