<div class="controller">
  {{#each gridActions}}
    <button class="button-{{role}}" data-role="{{role}}"{{#if disabled}} disabled{{/if}}>{{text}}</button>
  {{/each}}
</div>

<div class="pagination">
  {{#each pageActions}}
    <button class="button-{{role}}" data-role="{{role}}"{{#if disabled}} disabled{{/if}}>{{text}}</button>
  {{/each}}
  {{#each pageList}}
    <a href="javascript:;" class="page-link{{#if cls}} {{cls}}{{/if}}{{#if active}} active{{/if}}" data-role="page-link" data-page="{{page}}"{{#if disabled}} disabled{{/if}}>{{text}}</a>
  {{/each}}
</div>
