{{#if itemList}}
<table>
  <thead>
    <tr>
      {{#if checkable}}<th><label class="check-all"><input data-role="check-all" type="checkbox" title="{{__ '全选'}}"{{#if checked}} checked{{/if}}></label></th>{{/if}}
      {{#each labelMap}}<th data-key="{{@key}}"{{#isSortKey @key}} data-sort{{/isSortKey}}>{{this}}</th>{{/each}}
      {{#if itemActions}}<th>{{__ '操作'}}</th>{{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each itemList}}
    {{!-- ROWS --}}
      <tr data-role="item" data-id="{{uniqueId @root.uniqueId}}"{{#if checked}} class="selected"{{/if}}>
      {{#if @root.checkable}}<td data-role="cell">{{#unless disabled}}<label class="check-item"><input name="check-item" type="checkbox" value="{{uniqueId @root.uniqueId}}"{{#if checked}} checked{{/if}}></label>{{/unless}}</td>{{/if}}
      {{#each this}}
      {{#if visible}}
      {{!-- COLS --}}
      {{#if isMerge}}
        {{#unless index}}
          <td data-key="{{key}}" data-role="cell" rowspan="{{count}}">
            {{#if isEntry}}
              <a href="javascript:;" data-role="view-item">{{adapter}}</a>
            {{else}}
              <span>{{adapter}}</span>
            {{/if}}
          </td>
        {{/unless}}
      {{else}}
        <td data-key="{{key}}" data-role="cell">
        {{#if isEntry}}
          <a href="javascript:;" data-role="view-item">{{adapter}}</a>
        {{else}}
          <span>{{adapter}}</span>
        {{/if}}
        </td>
      {{/if}}
      {{/if}}
      {{/each}}
      {{#if @root.itemActions}}
        <td data-role="cell">
          {{#each @root.itemActions}}<button class="button-{{role}}" data-role="{{role}}" data-tips="{{tips}}"{{#isDisabled ../this}} disabled{{/isDisabled}}><span>{{text}}</span></button>{{/each}}
        </td>
      {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
  <p class="list-empty">{{__ '没有数据啦！'}}</p>
{{/if}}
