{{#if itemList}}
<table{{#if childKey}} class="nested"{{/if}}>
  <thead>
    <tr>
      {{#if checkable}}<th class="check-cell"><label class="check-all"><input data-role="check-all" type="checkbox" title="{{__ '全选'}}"{{#if checked}} checked{{/if}}></label></th>{{/if}}
      {{#each columns}}{{#if visible}}<th data-name="{{name}}"{{#if sortable}} data-sort{{/if}}>{{__ label}}</th>{{/if}}{{/each}}
      {{#if itemActions}}<th>{{__ '操作'}}</th>{{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each itemList}}
    {{!-- ROWS --}}
      <tr data-role="item" data-id="{{__uniqueId}}"{{#if checked}} class="selected"{{/if}}{{#if __parent}} data-parent="{{__parent}}" hidden{{/if}}>
      {{#if @root.checkable}}<td class="check-cell" data-role="cell">{{#unless disabled}}<label class="check-item"><input name="check-item" type="checkbox" value="{{__uniqueId}}"{{#if checked}} checked{{/if}}></label>{{/unless}}</td>{{/if}}
      {{#each this}}
      {{#if visible}}
      {{!-- COLS --}}
        <td data-role="cell">
        {{#if first}}
        {{#if ../__child}}
          <i data-index="{{../__index}}" class="nest-expander nest-expander-{{../__level}}"></i>
        {{else}}
        {{#if ../__parent}}
          <i class="nest-indenter nest-indenter-{{../__level}}"></i>
        {{/if}}
        {{/if}}
        {{/if}}
        {{#if adapted.safe}}
        {{#if isEntry}}
          <a href="javascript:;" data-role="view-item" data-name="{{name}}">{{{adapted.html}}}</a>
        {{else}}
          <span data-name="{{name}}">{{{adapted.html}}}</span>
        {{/if}}
        {{else}}
        {{#if isEntry}}
          <a href="javascript:;" data-role="view-item" data-name="{{name}}" data-value="{{adapted}}"></a>
        {{else}}
          <span data-name="{{name}}" data-value="{{adapted}}"></span>
        {{/if}}
        {{/if}}
        </td>
      {{/if}}
      {{/each}}
      {{#if @root.itemActions}}
        <td data-role="cell" data-partial="buttons">
          {{#each @root.itemActions}}<button class="button-{{role}}" data-role="{{role}}" data-tips="{{tips}}"{{#isDisabled ../this}} disabled{{/isDisabled}}><span>{{__ text}}</span></button>{{/each}}
        </td>
      {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
  <p class="list-empty">{{__ '没有数据啦！'}}</p>
{{/if}}
