{{#if itemList}}
<ul class="cards">
  {{#each itemList}}
  {{!-- ROWS --}}
    <li class="card{{#if checked}} selected{{/if}}" data-role="item" data-id="{{uniqueId @root.uniqueId}}">
    <div class="card-wrapper">
    {{#if @root.hasHeader}}
    <div class="card-header">
    {{/if}}
    {{#if @root.checkable}}
      {{#unless disabled}}<label class="check-item"><input name="check-item" type="checkbox" value="{{uniqueId @root.uniqueId}}"{{#if checked}} checked{{/if}}></label>{{/unless}}
    {{/if}}
    {{#if @root.itemActions}}
      <div data-role="actions">
        {{#each @root.itemActions}}<button class="button-{{role}}" data-role="{{role}}" data-tips="{{tips}}"{{#isDisabled ../this}} disabled{{/isDisabled}}><span>{{text}}</span></button>{{/each}}
      </div>
    {{/if}}
    {{#if @root.hasHeader}}
    </div>
    {{/if}}
    <div class="card-content">
    {{#each this}}
    {{#if visible}}
    {{!-- COLS --}}
    <div data-key="{{key}}" data-role="cell">
      <div data-role="cell-key">{{getLabel key}}</div>
      <div data-role="cell-value">
      {{#if isEntry}}
        <a href="javascript:;" data-role="view-item">{{adapter}}</a>
      {{else}}
        {{adapter}}
      {{/if}}
      </div>
    </div>
    {{/if}}
    {{/each}}
    </div>
    </div>
    </li>
  {{/each}}
</ul>
{{else}}
  <p class="list-empty">{{__ '没有数据啦！'}}</p>
{{/if}}
