<table>
  <thead>
    <tr>
      {{#if checkable}}<th><input data-role="check-all" type="checkbox" title="全选"></th>{{/if}}
      {{#each labelMap}}<th>{{this}}</th>{{/each}}
      {{#if itemActions}}<th>操作</th>{{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each itemList}}
      <tr data-role="item" data-id="{{uniqueId ../uniqueId}}">
      {{#if ../checkable}}<td><input name="check-item" type="checkbox" value="{{uniqueId ../../uniqueId}}"></td>{{/if}}
      {{#each this}}
        <td>
          {{#isEquals @key ../../entryKey}}
            <a href="javascript:;" data-role="view-item">{{adapters @key ../this}}</a>
          {{else}}
            {{adapters @key ../this}}
          {{/isEquals}}
        </td>
      {{/each}}
      {{#if ../itemActions}}
        <td>
          {{#each ../../itemActions}}
            <button class="button-{{role}}" data-role="{{role}}"{{#if disabled}} disabled{{/if}}>{{text}}</button>
          {{/each}}
        </td>
      {{/if}}
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
  </tfoot>
</table>
